/*
Reference:

-Title: How TO: Image Grid
-Author: W3 Schools
Source: https://www.w3schools.com/howto/howto_js_image_grid.asp

*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

  /*added*/
  img.resize{
    height:250px;
    width:250px;
  }

  img.resizer{
    height:auto;
    width:1000px;
  }
  .center{
      display:block;
      margin-left: auto;
      margin-right:auto;
      width:50%;
      padding: px;
  }

  img.resizeFull{
      max-width: 1000px;
      position: relative;
      margin: auto;
  }

  img.contain{
  min-height: 100%;
  min-width: 1024px;
  
  width: 100%;
  height: auto;
	 position: fixed;
  top: 0;
  left: 0;

  object-fit: cover;
  }